.header{
  width: 100%;
  p{
    position: relative;
    float: right;
    display: inline-block;
    top: 100%;
    transform: translateY(100%);
    font-size: 20px;
  }
}

.header .fa-circle{
  font-size: 5px;
  vertical-align: middle;
}

.fa-ellipsis-v{
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.header {
  ul{
    position: relative;
    display: inline-block;
    float: right;
  }
  li{
    margin-right: 5px;
    padding: 5px;
  }
}

#facebook{
  background-color: #3F5C9A;
  opacity: 0.8;
  }

#instagram{
  background-color: #B18767;
  opacity: 0.8;
}

#twitter{
  background-color: #33CCFF;
  opacity: 0.8;
}

#youtube{
  background-color: #DB1829;
  opacity: 0.8;
}
