.skateboards{
  @include skateboardElements;
  img{
    margin: 1%  2% 1% 2%;
    text-align: center;
    vertical-align: middle;
    transition: all .5s ease;
    width: 55px;
    &:hover{
      @include skateboardHover;
    }
  }
}

.skateboardsHidden{
  @include skateboardElements;
  img{
    width: 9%;
    margin:2% 4% 2% 4%;
    transition: all .5s ease;
    &:hover{
      @include skateboardHover;
    }
  }
}

.skateboardsTopHidden{
  width: 100%;
}

.skateboardsBottomHidden{
  width: 100%;
}
