$peraltaRed: #B4292E;

@mixin shadow{
  -webkit-box-shadow: 0px 10px 7px -4px rgba(170,170,170,0.88);
  -moz-box-shadow: 0px 10px 7px -4px rgba(170,170,170,0.88);
  box-shadow: 0px 10px 7px -4px rgba(170,170,170,0.88);
}

@mixin skateboarderHiddenElements{
  width: 48%;
  height: 250px;
  display: inline-block;
  float: left;
  margin: 0;
  border: solid 5px;
  @include shadow;
}

@mixin skateboardElements{
  width: 100%;
  background-color: white;
  padding: 45px 0px 45px 0px;
  margin-bottom: 15px;
  @include shadow;
}

@mixin skateboardHover{
  -webkit-transform: scale(1.2,1.2);
  -moz-transform:scale(1.2,1.2);
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}
