body{
  background: linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)), url('../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.totalLayout{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.header{
  width: 100%;
}

.header p{
  position: relative;
  float: left;
  display: inline-block;
  top: 100%;
  transform: translateY(100%);
  font-size: 20px;
  margin-left: 40%;
}

ul, li{
  list-style-type: none
  position: relative;
  float: left;
  display: inline-block;

}

.fa-circle{
  font-size: 5px;
  vertical-align: middle;
}

.fa-ellipsis-v{
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.header ul{
  position: relative;
  float: right;
}

.header li{
  margin-right: 5px;
  padding: 5px;
}

#facebook{
  background-color: #3F5C9A;
  opacity: 0.8;
  }

#instagram{
  background-color: #B18767;
  opacity: 0.8;
}

#twitter{
  background-color: #33CCFF;
  opacity: 0.8;
}

#youtube{
  background-color: #DB1829;
  opacity: 0.8;
}

.navBar{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-right: -10%;
}

.navBar ul{
  padding: 0;
  margin: 0;
  text-align: center;
}

.navBar li{
  background-color: #B4292E;
  margin: 3.5px;
  padding: 10px 50px 10px 50px;
  font-weight: lighter;
  text-align: center;
  display: inline-block;
}
